input {
beats {
port => 5693
type => "neiqiancallback"
codec => plain {
charset => "UTF-8"
}
}
}
output {
if [type] == "neiqiancallback"{
elasticsearch {
hosts => [ "10.228.11.126:9200" ]
index => "neiqiancallback-%{+YYYY.MM.dd}"
}
}
}
